<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/advisorNav.ejs') %>

    <h2>Application Details</h2>
    <div><%= application.fullName %></div>
    <a href="/advisor/applications/approve/<%= application._id %>">Approve</a>
    <a href="/advisor/applications/reject/<%= application._id %>">Reject</a>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
